# Copy this file to terraform.tfvars, then edit values for your run.

service_type  = "traditional"
instance_type = "t2.nano"
availability_zone = ""

repo_url = "https://github.com/<owner>/<repo>.git"
repo_ref = "master"

key_name             = ""
ssh_private_key_path = ""

allowed_app_cidr = ""
allowed_ssh_cidr = ""

service_port = 8000

ollama_model = "llama3.2:3b-instruct-q3_K_S"
